<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <variable name="logDirectory" value="D:/Develop/logs/OpsToolkit.Server" />
  <targets>
    <!-- 记录常规日志 -->
    <target xsi:type="File"
      name="generalFile"
      layout="${longdate} ${machinename} ${logger} ${threadid} ${level} ${message}"
      fileName="${logDirectory}/${shortdate}/general.current.txt"
      encoding="utf-8"
      archiveAboveSize="5242880"
      maxArchiveFiles="9999"
      archiveFileName="${logDirectory}/${shortdate}/general.{####}.txt"
      archiveNumbering="Sequence" />
  </targets>
  <rules>
    <logger name="Robot" minlevel="Debug" writeTo="robotFile" final="true" enabled="false" />
    <logger name="*" minlevel="Debug" writeTo="generalFile" />
  </rules>
</nlog>